.button {
  background-color: gainsboro;
  border: 1px solid black;
  border-radius: 10px;
  padding: 6px 6px 0;
  margin: 36px 0;
  text-decoration: none;
  min-width: 96px;
}

input {
  width: 80%;
}

.group {
  display: inline;
}

@media all and (min-width: 300px) {
  .button {
    margin: auto 6px;
  }
  input {
    width: 20%;
  }
  .group {
    display: flex;
  }
}
