.App {
  text-align: left;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.component-on-home {
  margin-left: 10px;
  margin-top: 10px;
}

.hidden {
  display: none;
}
